@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
:root {
  --color-primary: hsl(356, 100%, 66%);
  --color-primary-light: hsl(355, 100%, 74%);
  --color-secondary: hsl(208, 49%, 24%);
  --color-white: hsl(0, 0%, 100%);
  --color-grey-light: hsl(240, 2%, 93%);
  --color-grey: hsl(240, 2%, 79%);
  --color-grey-dark: hsl(207, 13%, 34%);
  --color-black: hsl(240, 10%, 16%);
  --color-gradient-red-light: hsl(13, 100%, 72%);
  --color-gradient-red: hsl(353, 100%, 62%);
  --color-gradient-blue: hsl(237, 17%, 21%);
  --color-gradient-blue-light: hsl(237, 23%, 32%);
  --text-opacity: 0.7;
  --border-radius: 10rem; }

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(4, [col-start] minmax(10rem, 27.5rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 44em) {
    .container {
      grid-template-columns: [full-start] 2.4rem [center-start] 1fr [center-end] 2.4rem [full-end]; } }

@keyframes circle-fill-in {
  from {
    clip-path: circle(0% at 0 0);
    transform: translateX(-1rem);
    opacity: 0.3; }
  to {
    clip-path: circle(160% at 0 0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes circle-fill-out {
  from {
    clip-path: circle(160% at 100% 100%);
    transform: translateX(0);
    opacity: 1; }
  99% {
    clip-path: circle(0% at 100% 100%);
    transform: translateX(1rem);
    opacity: 0.8; }
  to {
    opacity: 0;
    visibility: hidden; } }

@keyframes slide-up-title {
  from {
    opacity: 0;
    transform: translateY(100%); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes slide-up-desc {
  from {
    opacity: 0;
    transform: translateY(100%); }
  to {
    opacity: var(--text-opacity);
    transform: translateY(0); } }

@keyframes fade-in {
  from {
    opacity: 0;
    filter: blur(8px); }
  to {
    opacity: 1; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 60em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 44em) {
    html {
      font-size: 62.5%; } }

body {
  box-sizing: border-box; }

.hidden {
  display: none; }

a,
button {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  position: relative;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }

button {
  font-size: 1.6rem; }

.footer__link::after, .widescreen__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1); }

@media (hover: hover) {
  .footer__link:hover::after, .widescreen__link:hover::after {
    transform: scaleX(1); } }

.btn {
  width: 13.6rem;
  padding: 1.4rem 0;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
  overflow: hidden;
  z-index: 1; }
  .btn:active {
    transform: translateY(3px);
    filter: brightness(0.8); }
  @media (hover: hover) {
    .btn:hover {
      transform: translateY(-3px);
      box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.2); }
    .btn:active {
      transform: translateY(-1px);
      box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2); } }

@media only screen and (max-width: 44em) and (hover: hover) {
  .btn:hover {
    transform: none;
    box-shadow: none; } }
  @media only screen and (max-width: 44em) {
    .btn:active {
      transform: translateY(2px);
      box-shadow: none; } }
  .btn--primary {
    color: var(--color-primary);
    text-align: center; }
    @media (hover: hover) {
      .btn--primary:hover {
        color: var(--color-white); } }
    .btn--primary::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--color-white);
      width: 100%;
      height: 10rem;
      z-index: -2; }
    .btn--primary::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(135deg, var(--color-primary-light) 50%, transparent 50%);
      width: 200%;
      height: 10rem;
      z-index: 500;
      transition: all 0.2s;
      transform: translateX(-100%);
      transform-origin: left;
      z-index: -1; }
    @media (hover: hover) {
      .btn--primary:hover::after {
        transform: translateX(0); } }
  .btn--secondary {
    background-color: transparent;
    border: 1px solid var(--color-white);
    color: var(--color-white); }
    @media (hover: hover) {
      .btn--secondary:hover {
        color: var(--color-primary-light); } }
    .btn--secondary::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      width: 15rem;
      height: 15rem;
      border-radius: 50%;
      box-shadow: inset 0 0 0 0 var(--color-white);
      transition: all 0.2s ease-in;
      transform: translate(-50%, -50%); }
    @media (hover: hover) {
      .btn--secondary:hover::after {
        box-shadow: inset 0 0 0 10rem var(--color-white); } }

@media only screen and (max-width: 44em) {
  .card {
    text-align: center;
    padding: 0 1rem;
    max-width: 40rem; } }

.card__title {
  color: var(--color-secondary);
  margin-bottom: 2rem; }
  .card__title--light {
    color: var(--color-white); }
  @media only screen and (max-width: 44em) {
    .card__title {
      margin-bottom: 2.6rem; } }

.card__desc {
  line-height: 1.8;
  letter-spacing: 0.4px;
  opacity: var(--text-opacity); }
  @media only screen and (max-width: 60em) {
    .card__desc {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 44em) {
    .card__desc {
      font-size: 1.6rem; } }

.card--light {
  color: var(--color-white); }

.attribution {
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 1.1rem;
  text-align: center; }

.attribution a {
  color: var(--color-grey);
  opacity: var(--text-opacity); }

.footer {
  background-color: var(--color-black);
  padding: 7rem 0 4rem 0;
  font-size: 1.5rem;
  border-top-right-radius: var(--border-radius); }
  .footer__logo {
    grid-column: center-start / span 1; }
    @media only screen and (max-width: 44em) {
      .footer__logo {
        justify-self: center;
        margin: 0.5rem 0 5.5rem 0; } }
  .footer__list {
    color: var(--color-white);
    font-weight: 700;
    list-style: none;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    @media only screen and (max-width: 44em) {
      .footer__list {
        grid-column: center-start / center-end;
        align-items: center;
        margin-top: 2rem; } }
  .footer__listname {
    margin-top: 0.5rem;
    margin-bottom: 3.4rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400; }
    @media only screen and (max-width: 60em) {
      .footer__listname {
        font-size: 1.8rem;
        margin-bottom: 2.8rem; } }
  .footer__link {
    color: var(--color-grey);
    font-weight: 400;
    margin-bottom: 1.6rem;
    opacity: var(--text-opacity);
    padding: 0.5rem 0; }
    .footer__link:active {
      transform: translateY(1px); }
    @media only screen and (max-width: 60em) {
      .footer__link {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 44em) {
      .footer__link {
        opacity: 1;
        margin-bottom: 0.2rem; } }
    .footer__link::after {
      bottom: 0.5rem; }

.future {
  color: var(--color-grey-dark);
  padding: 15rem 0 25rem 0;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 60em) {
    .future {
      padding: 10rem 0 15vw 0; } }
  @media only screen and (max-width: 44em) {
    .future__container {
      justify-items: center; } }
  .future__title {
    grid-column: center-start / center-end;
    text-align: center;
    color: var(--color-secondary);
    margin-bottom: 10rem; }
    @media only screen and (max-width: 44em) {
      .future__title {
        grid-row: 1 / 2; } }
  .future__card {
    grid-column: center-start / span 2;
    margin-right: 2rem; }
    .future__card:not(:last-child) {
      margin-bottom: 7rem; }
      @media only screen and (max-width: 44em) {
        .future__card:not(:last-child) {
          margin-bottom: 4rem; } }
    @media only screen and (max-width: 44em) {
      .future__card {
        grid-column: center-start / center-end;
        margin-right: 0; }
        .future__card:first-of-type {
          margin-top: 8rem; } }
  .future__bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(8%, -50%);
    z-index: -1; }
    @media only screen and (max-width: 60em) {
      .future__bg > * {
        width: 80vw; } }
    @media only screen and (max-width: 44em) {
      .future__bg > * {
        width: calc(min(80vw, 40rem)); } }
    @media only screen and (max-width: 44em) {
      .future__bg {
        width: auto;
        grid-column: center-start / center-end;
        justify-self: center;
        position: static;
        transform: translate(0, 0) scale(1.35); } }

.header {
  background-image: linear-gradient(115deg, var(--color-gradient-red-light), var(--color-gradient-red));
  height: 60rem;
  color: var(--color-white);
  border-bottom-left-radius: var(--border-radius);
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 44em) {
    .header {
      background-image: linear-gradient(to bottom, var(--color-gradient-red-light), var(--color-gradient-red)); } }
  .header__bg {
    position: absolute;
    top: 0;
    left: 50%;
    width: 320rem;
    transform: translate(-37%, -42%);
    z-index: 10; }
    @media only screen and (max-width: 44em) {
      .header__bg {
        width: 130rem;
        top: 0;
        left: 0;
        transform: translate(-25%, -20%); } }
  .header__container {
    height: 100%;
    grid-template-rows: 1fr;
    margin-top: 12rem; }
  .header__content {
    grid-column: center-start / center-end;
    place-self: center;
    margin-top: -4rem;
    text-align: center;
    position: relative;
    z-index: 20; }
  .header__title {
    margin-bottom: 1rem;
    line-height: 1.5;
    animation: 1.5s slide-up-title 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) backwards; }
    @media only screen and (max-width: 44em) {
      .header__title {
        padding: 0 1rem;
        font-size: 3.4rem;
        line-height: 1.3;
        margin-bottom: 1.5rem; } }
  .header__desc {
    opacity: var(--text-opacity);
    font-size: 2rem;
    margin-bottom: 5rem;
    animation: 2s slide-up-desc 1.3s cubic-bezier(0.165, 0.84, 0.44, 1) backwards; }
    @media only screen and (max-width: 44em) {
      .header__desc {
        font-size: 1.8rem;
        line-height: 1.3; } }
  .header__btn-container {
    display: flex;
    justify-content: center; }
    .header__btn-container > button {
      animation: 0.5s fade-in 2.5s ease-out backwards; }
    .header__btn-container > button:not(:last-child) {
      margin-right: 2rem; }
      @media only screen and (max-width: 44em) {
        .header__btn-container > button:not(:last-child) {
          margin-right: 1.6rem; } }

.infra {
  background: url("../images/bg-pattern-circles.svg") no-repeat top 82% left calc(50vw - 92rem), linear-gradient(to right, var(--color-gradient-blue), var(--color-gradient-blue-light));
  background-size: 100rem, 100%;
  border-top-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  height: 40rem;
  position: relative; }
  @media only screen and (max-width: 44em) {
    .infra__container {
      justify-items: center; } }
  @media only screen and (max-width: 44em) {
    .infra {
      height: auto;
      margin-top: calc(min(55%, 25rem));
      background-position: top -25rem left 50%;
      background-size: cover; } }
  .infra__container {
    height: 100%;
    align-items: center; }
    @media only screen and (max-width: 44em) {
      .infra__container {
        grid-template-rows: 30rem; } }
  .infra__card {
    grid-column: col-start 3 / span 2; }
    @media only screen and (max-width: 44em) {
      .infra__card {
        grid-column: center-start / center-end;
        margin-top: calc(-12rem + 10vw);
        margin-bottom: 11rem;
        padding: 0; }
        .infra__card .card__title {
          font-size: 3.8rem;
          line-height: 1.3; } }
  .infra__photo-container {
    grid-column: center-start / span 2;
    position: relative;
    align-self: center; }
    @media only screen and (max-width: 44em) {
      .infra__photo-container {
        grid-column: center-start / center-end;
        width: 100%; } }
  .infra__phones {
    position: absolute;
    width: 100%;
    transform: translate(-8%, -46%); }
    @media only screen and (max-width: 44em) {
      .infra__phones {
        max-width: 40rem;
        width: 100%;
        position: relative;
        transform: translate(0, -13.5rem);
        display: block;
        margin: 0 auto; } }

.navbar__container {
  position: absolute;
  width: 100%; }

.navbar {
  grid-column: center-start / center-end;
  display: flex;
  align-items: center;
  margin-top: 6.2rem;
  position: relative;
  z-index: 30; }
  @media only screen and (max-width: 44em) {
    .navbar {
      margin-top: 5.5rem;
      justify-content: space-between; } }
  .navbar__logo {
    margin-right: 6.5rem; }
    @media only screen and (max-width: 44em) {
      .navbar__logo {
        width: 8rem; } }
  .navbar__hamburger {
    display: none;
    padding: 2rem 1rem;
    background-color: transparent; }
    @media only screen and (max-width: 44em) {
      .navbar__hamburger {
        display: block; } }
    .navbar__hamburger-style {
      position: relative;
      width: 3.2rem;
      height: 0.2rem;
      background-color: var(--color-white);
      transition: background-color 0.4s, transform 0.4s; }
      .navbar__hamburger-style::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 3.2rem;
        height: 0.2rem;
        background-color: var(--color-white);
        transform: translateY(-0.8rem);
        transition: inherit; }
      .navbar__hamburger-style::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 3.2rem;
        height: 0.2rem;
        background-color: var(--color-white);
        transform: translateY(0.8rem);
        transition: inherit; }

.active-ham {
  background-color: rgba(255, 255, 255, 0); }
  .active-ham::before {
    transform: translateY(0) rotate(135deg); }
  .active-ham::after {
    transform: translateY(0) rotate(-135deg); }

.nav {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 44em) {
    .nav {
      visibility: hidden;
      display: block;
      position: absolute;
      top: 7rem;
      left: 0;
      width: 100%;
      padding: 2.4rem;
      background-color: var(--color-white);
      border-radius: 0.5rem;
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3); }
      .nav a {
        font-family: "Overpass", sans-serif;
        font-weight: 600; } }
  .nav__list {
    display: flex;
    list-style: none; }
    @media only screen and (max-width: 44em) {
      .nav__list {
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid var(--color-grey-light);
        padding-top: 1.4rem; } }
  .nav__item {
    position: relative; }
    @media only screen and (max-width: 44em) {
      .nav__item {
        width: 100%; } }
  .nav__link {
    margin-right: 3.2rem;
    color: var(--color-white);
    opacity: var(--text-opacity);
    transition: opacity 0.3s;
    display: block;
    padding: 0.5rem 0; }
    @media only screen and (max-width: 44em) {
      .nav__link {
        color: var(--color-secondary);
        opacity: 1;
        font-size: 1.8rem;
        padding: 0;
        margin: 0;
        text-align: center;
        line-height: 0; } }
  .nav__link-arrow {
    width: 1rem;
    height: 1rem;
    margin-left: 4px;
    margin-bottom: 0.2rem;
    transition: transform 0.2s;
    stroke: #fff;
    opacity: 0.75; }
    @media only screen and (max-width: 44em) {
      .nav__link-arrow {
        stroke: var(--color-primary-light);
        margin-bottom: 0.1rem;
        opacity: 1; } }
  .nav__sublist {
    visibility: hidden;
    position: absolute;
    top: 4.4rem;
    left: -2.4rem;
    list-style: none;
    width: 16.8rem;
    background-color: var(--color-white);
    border-radius: 0.5rem;
    padding: 2.6rem 2.4rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
    @media only screen and (max-width: 44em) {
      .nav__sublist {
        visibility: visible;
        position: static;
        width: 100%;
        max-height: 0;
        text-align: center;
        margin: 2rem 0;
        padding: 0;
        overflow: hidden;
        box-shadow: none;
        background-color: var(--color-grey-light);
        transition: max-height 0.4s; } }
  @media only screen and (max-width: 44em) {
    .nav__subitem:first-child {
      margin-top: 1.4rem; }
    .nav__subitem:last-child {
      margin-bottom: 1.4rem; } }
  .nav__subitem a:link,
  .nav__subitem a:visited {
    color: black;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.3;
    display: inline-block;
    padding: 0.5rem 0; }
    @media only screen and (max-width: 44em) {
      .nav__subitem a:link,
      .nav__subitem a:visited {
        font-size: 1.6rem;
        color: var(--color-secondary);
        opacity: var(--text-opacity);
        font-weight: 400;
        line-height: 2.5; } }
  @media (hover: none) {
    .nav__subitem a:active {
      transform: translateY(2px);
      font-weight: 600; } }
  @media (hover: hover) {
    .nav__subitem a:hover {
      font-weight: 500; }
    .nav__subitem a:active {
      transform: translateY(1px);
      font-weight: 500; } }
  @media only screen and (max-width: 44em) {
    .nav__btn-box {
      margin-top: 3.2rem;
      margin-bottom: 1rem;
      text-align: center; } }
  .nav__login {
    display: inline-block; }
    .nav__login:active {
      transform: translateY(1px); }
    @media only screen and (max-width: 44em) {
      .nav__login {
        line-height: 1;
        margin-bottom: 2.4rem;
        display: block; } }
  @media only screen and (max-width: 44em) {
    .nav__btn {
      background-image: linear-gradient(to right, var(--color-gradient-red-light), var(--color-gradient-red));
      color: var(--color-white);
      transition: color 0.2s; }
      .nav__btn::after, .nav__btn::before {
        display: none; } }

.active-link {
  opacity: var(--text-opacity); }
  .active-link > .nav__link-arrow {
    transform: scaleY(-1); }

.widescreen__link::after {
  bottom: 0.5rem; }

.widescreen__link:active {
  transform: translateY(1px);
  opacity: 1; }

@media (hover: hover) {
  .widescreen__link:hover {
    opacity: 1;
    transform: translateY(-2px); }
  .widescreen__link:active {
    transform: translateY(-1px);
    color: rgba(255, 255, 255, 0.9); } }

.simple {
  margin: 30rem 0;
  color: var(--color-grey-dark);
  position: relative; }
  @media only screen and (max-width: 44em) {
    .simple__container {
      justify-items: center; } }
  @media only screen and (max-width: 60em) {
    .simple {
      margin: 20vw 0; } }
  @media only screen and (max-width: 50em) {
    .simple {
      margin: 15vw 0; } }
  @media only screen and (max-width: 44em) {
    .simple {
      overflow: hidden; } }
  @media only screen and (max-width: 44em) {
    .simple__bg {
      grid-column: center-start / center-end;
      margin: 0.5rem 0 3rem 0;
      width: 100%; } }
  .simple__bg > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-102%, -50%); }
    @media only screen and (max-width: 60em) {
      .simple__bg > * {
        width: 80%; } }
    @media only screen and (max-width: 44em) {
      .simple__bg > * {
        position: relative;
        display: block;
        top: 0;
        transform: translate(-50%, 0);
        width: calc(min(155%, 62rem)); } }
  .simple__card {
    grid-column: col-start 3 / span 2; }
    .simple__card:not(:last-child) {
      margin-bottom: 7rem; }
    @media only screen and (max-width: 44em) {
      .simple__card {
        grid-column: center-start / center-end;
        padding: 0 0.5rem; }
        .simple__card:not(:last-child), .simple__card:last-child {
          margin-bottom: 4rem; } }

body {
  font-family: "Overpass", sans-serif;
  font-size: 1.6rem; }

*::selection {
  background-color: var(--color-primary-light); }

h1 {
  font-size: 6rem; }
  @media only screen and (max-width: 50em) {
    h1 {
      font-size: 5rem; } }

h2 {
  font-size: 3.8rem; }
  @media only screen and (max-width: 44em) {
    h2 {
      font-size: 2.6rem; } }

h3 {
  font-size: 2.8rem; }
  @media only screen and (max-width: 44em) {
    h3 {
      line-height: 1.2; } }
