@keyframes circle-fill-in {
  from {
    clip-path: circle(0% at 0 0);
    transform: translateX(-1rem);
    opacity: 0.3;
  }

  to {
    clip-path: circle(160% at 0 0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes circle-fill-out {
  from {
    clip-path: circle(160% at 100% 100%);
    transform: translateX(0);
    opacity: 1;
  }

  99% {
    clip-path: circle(0% at 100% 100%);
    transform: translateX(1rem);
    opacity: 0.8;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes slide-up-title {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up-desc {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: var(--text-opacity);
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    filter: blur(8px);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-future {
  from {
    opacity: 0;
    filter: blur(8px);
    transform: translate(18%, -50%);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-infra {
  from {
    opacity: 0;
    filter: blur(8px);
    transform: translate(-18%, -46%);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-simple {
  from {
    opacity: 0;
    filter: blur(8px);
    transform: translate(-112%, -50%);
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: $bp-phone-land) {
  @keyframes fade-in-future {
    from {
      opacity: 0;
      filter: blur(8px);
      transform: translateX(20%) scale(1);
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade-in-infra {
    from {
      opacity: 0;
      filter: blur(8px);
      transform: translateY(-20%) scale(1);
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-in-simple {
    from {
      opacity: 0;
      filter: blur(8px);
      transform: translateX(-70%) scale(0.6);
    }
    to {
      opacity: 1;
    }
  }
}
