.header {
  background-image: linear-gradient(
    115deg,
    var(--color-gradient-red-light),
    var(--color-gradient-red)
  );
  height: 60rem;
  color: var(--color-white);
  border-bottom-left-radius: var(--border-radius);

  position: relative;
  overflow: hidden;

  @media only screen and (max-width: $bp-phone-land) {
    background-image: linear-gradient(
      to bottom,
      var(--color-gradient-red-light),
      var(--color-gradient-red)
    );
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 50%;
    width: 320rem;
    transform: translate(-37%, -42%);
    z-index: 10;

    @media only screen and (max-width: $bp-phone-land) {
      width: 130rem;
      // width: 350vw;
      // height: 350vw;
      top: 0;
      left: 0;
      transform: translate(-25%, -20%);
    }
  }

  &__container {
    height: 100%;
    grid-template-rows: min-content 1fr;
  }

  &__navbar {
    grid-column: center-start / center-end;

    display: flex;
    align-items: center;
    margin-top: 6.2rem;

    position: relative;
    z-index: 30;

    @media only screen and (max-width: $bp-phone-land) {
      margin-top: 5.5rem;
      justify-content: space-between;
    }
  }

  &__logo {
    margin-right: 6.5rem;

    @media only screen and (max-width: $bp-phone-land) {
      width: 8rem;
    }
  }

  &__hamburger {
    display: none;

    @media only screen and (max-width: $bp-phone-land) {
      display: block;
      background-color: transparent;
    }
  }

  &__content {
    grid-column: center-start / center-end;
    place-self: center;
    margin-top: -4rem;
    text-align: center;

    position: relative;
    z-index: 20;
  }

  &__title {
    margin-bottom: 1rem;
    line-height: 1.5;

    @media only screen and (max-width: $bp-phone-land) {
      padding: 0 1rem;
      font-size: 3.4rem;
      line-height: 1.3;
      margin-bottom: 1.5rem;
    }
  }

  &__desc {
    opacity: var(--text-opacity);
    font-size: 2rem;
    margin-bottom: 5rem;

    @media only screen and (max-width: $bp-phone-land) {
      font-size: 1.8rem;
      line-height: 1.3;
    }
  }

  &__btn-container {
    display: flex;
    justify-content: center;

    & > button:not(:last-child) {
      margin-right: 2rem;

      @media only screen and (max-width: $bp-phone-land) {
        margin-right: 1.6rem;
      }
    }
  }
}

.nav {
  flex: 1;

  @media only screen and (max-width: $bp-phone-land) {
    // display: none;
    position: absolute;
    top: 7rem;
    left: 0;
    width: 100%;
    padding: 2.4rem;
    height: 200rem;

    background-color: var(--color-white);
    border-radius: 0.5rem;
    box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.2);

    & a {
      font-family: "Overpass", sans-serif;
      font-weight: 600;
    }
  }

  &__list {
    display: flex;
    list-style: none;

    @media only screen and (max-width: $bp-phone-land) {
      flex-direction: column;
      align-items: center;
      border-bottom: 1px solid var(--color-grey-light);
    }
  }

  &__item {
    position: relative;

    @media only screen and (max-width: $bp-phone-land) {
      width: 100%;
    }
  }

  &__link {
    margin-right: 3.2rem;
    color: var(--color-white);
    opacity: var(--text-opacity);
    transition: all 0.2s;
    display: block;

    // To increase clickable area
    padding: 0.5rem 0;

    @extend %line-effect;
    &::after {
      // To compensate padding
      bottom: 0.5rem;
    }

    &:hover {
      opacity: 1;
      transform: translateY(-2px);
    }

    &:hover > &-arrow {
      transform: scaleY(-1);
    }

    @media only screen and (max-width: $bp-phone-land) {
      color: var(--color-secondary);
      opacity: 1;
      font-size: 1.8rem;
      margin-right: 0;
      margin-bottom: 1.4rem;
      text-align: center;
    }
  }

  &__login {
    @media only screen and (max-width: $bp-phone-land) {
      display: none;
    }
  }

  &__link-arrow {
    width: 1rem;
    margin-left: 4px;
    margin-bottom: 0.2rem;
    transition: all 0.2s;
  }

  &__sublist {
    visibility: hidden;
    position: absolute;
    top: 4.4rem;
    left: -2.4rem;

    list-style: none;
    width: 16.8rem;
    background-color: var(--color-white);
    border-radius: 0.5rem;
    padding: 2.6rem 2.4rem;
    box-shadow: 0 1rem 2rem rgba(#000, 0.3);

    @media only screen and (max-width: $bp-phone-land) {
      visibility: visible;
      position: static;
      width: 100%;
      text-align: center;

      box-shadow: none;
      background-color: var(--color-grey-light);
    }
  }

  &__subitem {
    a:link,
    a:visited {
      color: hsl(0, 0%, 0%);
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 2.3;

      // To increase clickable area
      padding: 0.5rem 0;
    }

    a:hover {
      font-weight: 500;
    }
  }

  &__btn {
    @media only screen and (max-width: $bp-phone-land) {
      display: none;
    }
  }
}
