.header {
  background-image: linear-gradient(
    115deg,
    var(--color-gradient-red-light),
    var(--color-gradient-red)
  );
  height: 60rem;
  color: var(--color-white);
  border-bottom-left-radius: var(--border-radius);

  position: relative;
  overflow: hidden;

  @media only screen and (max-width: $bp-phone-land) {
    background-image: linear-gradient(
      to bottom,
      var(--color-gradient-red-light),
      var(--color-gradient-red)
    );
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 50%;
    width: 320rem;
    transform: translate(-37%, -42%);
    z-index: 10;

    @media only screen and (max-width: $bp-phone-land) {
      width: 130rem;
      top: 0;
      left: 0;
      transform: translate(-25%, -20%);
    }
  }

  &__container {
    height: 100%;
    grid-template-rows: 1fr;
    margin-top: 12rem;
  }

  &__content {
    grid-column: center-start / center-end;
    place-self: center;
    margin-top: -4rem;
    text-align: center;

    position: relative;
    z-index: 20;
  }

  &__title {
    margin-bottom: 1rem;
    line-height: 1.5;

    animation: 1.5s slide-up-title 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)
      backwards;

    @media only screen and (max-width: $bp-phone-land) {
      padding: 0 1rem;
      font-size: 3.4rem;
      line-height: 1.3;
      margin-bottom: 1.5rem;
    }
  }

  &__desc {
    opacity: var(--text-opacity);
    font-size: 2rem;
    margin-bottom: 5rem;

    animation: 2s slide-up-desc 1.3s cubic-bezier(0.165, 0.84, 0.44, 1)
      backwards;

    @media only screen and (max-width: $bp-phone-land) {
      font-size: 1.8rem;
      line-height: 1.3;
    }
  }

  &__btn-container {
    display: flex;
    justify-content: center;

    & > button {
      animation: 0.5s fade-in 2.5s ease-out backwards;
    }

    & > button:not(:last-child) {
      margin-right: 2rem;

      @media only screen and (max-width: $bp-phone-land) {
        margin-right: 1.6rem;
      }
    }
  }
}
