.container {
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      4,
      [col-start] minmax(10rem, 27.5rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];

  @media only screen and (max-width: $bp-phone-land) {
    grid-template-columns:
      [full-start] minmax(3rem, 1fr) [center-start] repeat(
        2,
        [col-start] minmax(10rem, 27.5rem) [col-end]
      )
      [center-end] minmax(3rem, 1fr) [full-end];
  }
}
