.container {
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      4,
      [col-start] minmax(10rem, 27.5rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];

  @media only screen and (max-width: $bp-phone-land) {
    grid-template-columns: [full-start] 2.4rem [center-start] 1fr [center-end] 2.4rem [full-end];
  }
}

@mixin jus-center {
  @media only screen and (max-width: $bp-phone-land) {
    &__container {
      justify-items: center;
    }
  }
}
