@keyframes circle-fill-in {
  from {
    clip-path: circle(0% at 0 0);
    transform: translateX(-1rem);
    opacity: 0.3;
  }

  to {
    clip-path: circle(160% at 0 0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes circle-fill-out {
  from {
    clip-path: circle(160% at 100% 100%);
    transform: translateX(0);
    opacity: 1;
  }

  99% {
    clip-path: circle(0% at 100% 100%);
    transform: translateX(1rem);
    opacity: 0.8;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes slide-up-title {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up-desc {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: var(--text-opacity);
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    filter: blur(8px);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    filter: blur(8px);
  }
}

@keyframes text-wave {
  50% {
    color: var(--color-primary);
    transform: translateY(-1rem) scale(1.3);
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }

  to {
    color: initial;
    transform: none;
  }
}

// @keyframes slide-in-future {
//   from {
//     transform: translate(18%, -50%);
//   }
// }

// @keyframes slide-out-future {
//   to {
//     transform: translate(18%, -50%);
//   }
// }

// @keyframes slide-in-infra {
//   from {
//     transform: translate(-18%, -46%);
//   }
// }

// @keyframes slide-out-infra {
//   to {
//     transform: translate(-18%, -46%);
//   }
// }

// @keyframes slide-in-simple {
//   from {
//     transform: translate(-112%, -50%);
//   }
// }

// @keyframes slide-out-simple {
//   to {
//     transform: translate(-112%, -50%);
//   }
// }

// @media only screen and (max-width: $bp-phone-land) {
//   @keyframes slide-in-future {
//     from {
//       transform: translateX(20%) scale(1);
//     }
//   }

//   @keyframes slide-out-future {
//     to {
//       transform: translateX(20%) scale(1);
//     }
//   }

//   @keyframes slide-in-infra {
//     from {
//       transform: translateY(-20%) scale(1);
//     }
//   }

//   @keyframes slide-out-infra {
//     to {
//       transform: translateY(-20%) scale(1);
//     }
//   }

//   @keyframes slide-in-simple {
//     from {
//       transform: translateX(-70%) scale(0.6);
//     }
//   }

//   @keyframes slide-out-simple {
//     to {
//       transform: translateX(-70%) scale(0.6);
//     }
//   }
// }
