.simple {
  margin: 30rem 0;
  color: var(--color-grey-dark);

  position: relative;

  @include jus-center;

  @media only screen and (max-width: $bp-tab-port) {
    margin: 20vw 0;
  }

  @media only screen and (max-width: $bp-tab-port-sm) {
    margin: 15vw 0;
  }

  @media only screen and (max-width: $bp-phone-land) {
    overflow: hidden;
  }

  &__bg {
    @media only screen and (max-width: $bp-phone-land) {
      grid-column: center-start / center-end;
      // Other browsers
      margin: 0.5rem 0 3rem 0;

      // Safari
      // margin: 0;
      width: 100%;
    }

    & > img {
      position: absolute;
      top: 50%;
      right: 50%;
      // transform: translate(-12%, -50%);

      @media only screen and (max-width: $bp-tab-port) {
        width: 80%;
      }

      @media only screen and (max-width: $bp-phone-land) {
        position: static;
        display: block;
        top: 0;
        left: 50%;

        // transform: translate(-50%, 0) scale(0.6);
        width: calc(min(155%, 62rem));
      }
    }
  }

  &__card {
    grid-column: col-start 3 / span 2;

    &:not(:last-child) {
      margin-bottom: 7rem;
    }

    @media only screen and (max-width: $bp-phone-land) {
      grid-column: center-start / center-end;
      padding: 0 0.5rem;

      &:not(:last-child),
      &:last-child {
        margin-bottom: 4rem;
      }
    }
  }
}
